.body{
    background-color: white;
    color: #000;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 60px; /* Adjust to the height of the header */
    text-align: center;
    border-radius: 20px;
    border-style: dashed;  
    height: 100%; /* Ensure the body takes up all available height */
  }
  .image{
    border-radius: 50%;
    height: 200px;
    padding: 5px;
    margin: 5px;
  }
  .text{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 800;
  font-style: italic;
  flex: 1;
  
  }